.pagination{
    font-size: 1.2em;
    border: #4e0809 2px solid;
    border-radius: 5% 5% 5% 5% / 30% 30% 30% 30%;
    width: 344px;
    height: 35px;
    margin: 20px auto;
    overflow: hidden;
}

.pagination a {
    border-left: #4e0809 1px solid;
    border-right: #4e0809 1px solid;
    height: 19px;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
    background-color: #4e0809;
    color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover{
    cursor: pointer;
}

.pagination a:hover:not(.active, .paginationHollow) {
    background-color: #c06d6e;
    color: #eee;
}

.pagination .pagination-first{
    border-left: none;
}

.pagination .pagination-last{
    border-right: none;
}